#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  width: 80%;
  margin: 0 auto;
  min-width: 300px;
  padding: 10px 3%;
}

.new-task {
  display: flex;
  justify-content: center;
  height: 40px;
  margin: 20px;
}

.new-task > input {
  min-width: 250px;
  border: 3px double #4a55a2;
  outline: none;
  border-radius: 5px;
}

.new-task > button {
  background-color: #c5dff8;
  border: 3px double #4a55a2;
  border-radius: 5px;
  padding: 5px;
  margin: 0 10px;
  width: 80px;
}

.list-component {
  background-color: #c5dff8;
  border: 3px double #4a55a2;
  border-radius: 20px;

  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.list-component > p {
  margin-right: auto;
  padding-left: 50px;
  font-size: 24px;
  font-weight: 700;
}

.list-component > button {
  background-color: #c5dff8;
  padding: 5px;
  margin: 12px;
  height: 50px;
  border: transparent;
}

.trash-can {
  color: #7895cb;
}

.trash-can:hover {
  color: #ff4242c9;
}

.check {
  color: #7895cb;
  margin-right: 30px;
}

.check:hover {
  color: #4a55a2;
}

.complete {
  color: #0a780a;
}
